<div class="denomination-list">
  <% currencies[i][type].forEach(function(denomination) { %>
    <div class="denomination">
      <div class="<%= denomination[Object.keys(denomination)[0]] %> <%= type %>"><% if (!currencies[i]['after']) { %><span class="symbol"><%= currencies[i]['symbol'] %></span><% } %><%= Object.keys(denomination)[0] %><% if (currencies[i]['after']) { %><span class="symbol"><%= currencies[i]['symbol'] %></span><% } %><!-- (<%= currencies[i]['name'] %>) -->
      </div>
      <div class="subtitle"><% if (!currencies[j]['after']) { %><span class="symbol"><%= currencies[j]['symbol'] %></span><% } %><%= (Object.keys(denomination)[0] * currencies[i].worth[j]).toFixed(2) !== '0.00' ? (Object.keys(denomination)[0] * currencies[i].worth[j]).toFixed(2) : '0.01' %><% if (currencies[j]['after']) { %><span class="symbol"><%= currencies[j]['symbol'] %></span><% } %>
      </div>
      <!-- (<%= currencies[j]['name'] %>) -->
    </div>
  <% }) %>

  <div class="clear"></div>
</div>
