<a id="currency-switcher" href="#<%= getCurrencies()[1] + ',' + getCurrencies()[0] %>">
  <span class="off-screen"><%= getCurrencies()[1] + ' &lt;=&gt; ' + getCurrencies()[0] %></span>
</a>

<div id="currency-selector">
  <div class="regular">
    What <%= getPluralName(getCurrencies()[0], 'are my <a href="#first-currency" class="first-currency">', 'is my <a href="#first-currency" class="first-currency">') %></a> worth
    <br>
    in <a href="#second-currency" class="second-currency"><%= getPluralName(getCurrencies()[1]) %></a>?
  </div>
  <div class="small">
    <a href="#first-currency" class="first-currency"><%= getCurrencies()[0] %></a> &gt; <a href="#second-currency" class="second-currency"><%= getCurrencies()[1] %></a>
  </div>
</div>

<div class="clear"></div>
