<!DOCTYPE html>
<html <% if (app.ENV === 'production' || app.FORCE_MANIFEST) { %>manifest="manifest.appcache"<% } %> class="env-<%= app.ENV %>">
  <head>
    <meta charset="utf-8">

    <title><%= app.conf.get('name') %>
           <%= typeof(title) !== 'undefined' ? ': ' + title : '' %></title>
    <meta name="description" content="Currency conversion using actual denominations.">

    <!-- iOS-specific meta information; for homescreen web app capabilities -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- iPhone -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-startup-image" media="(device-width: 320px)" href="/img/default.png">
    <!-- Retina iPhone -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-startup-image" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" href="/img/default@2x.png">

    <meta http-equiv="cleartype" content="on">

    <!-- Responsive and mobile friendly stuff -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body data-url="<%= appURL %>">
    <div id="maincontent" class="container">
      <!-- Add your site or application content here -->
      <%- body %>
    </div>

    <script src="/js/string.js"></script>
    <script data-main="/js/<%= (app.ENV === 'production' || app.FORCE_MANIFEST) ? 'main.built' : 'main' %>"
            src="/js/lib/require.js"></script>
  </body>
</html>
